.hero-container {
  align-items: flex-start;
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  padding-top: 10rem;

  .hero-text {
    flex: 1;
    max-width: 60%;

    h1 {
      backdrop-filter: blur(3px);
      font-size: 7rem;
    }

    h3 {
      color: var(--blue);
      margin: 1rem 0;
    }

    p {
      font-size: 1.8rem;
    }

    .small-resume {
      margin-bottom: 3rem;
    }
  }

  .button {
    margin-top: 3rem;
    padding: 1.4rem 6rem;
  }

  .social-media {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;

    img,
    span {
      width: 3.5rem;
    }
  }

  @media (width <= 1200px) {
    gap: 5rem;
    padding-top: 8rem;

    .hero-text {
      max-width: 55%;

      h1 {
        font-size: 6rem;
      }
    }
  }

  @media (width <= 960px) {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;

    .hero-text {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      max-width: 100%;
      text-align: center;
      width: 100%;

      h1 {
        font-size: 5rem;
      }
    }

    .button {
      margin-top: 2rem;
    }

    .social-media {
      justify-content: center;
      margin-top: 2rem;
    }
  }

  @media (width <= 640px) {
    gap: 1.5rem;
    padding-top: 2rem;

    .hero-text {
      h1 {
        font-size: 4rem;
      }

      h3 {
        font-size: 1.8rem;
      }
    }
  }

  @media (width <= 480px) {
    .hero-text {
      h1 {
        font-size: 3.2rem;
      }

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .button {
      padding: 1.2rem 4rem;
    }
  }
}