.about-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  
    .hard-skills {
      margin-top: 1.6rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.8rem;
    }
  
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        width: 3.4rem;
      }
    }
  
    h2 {
      display: inline-block;
      margin-bottom: 2rem;
      font-size: 3rem;
      margin-top: 0;
      color: var(--blue);
    }
  
    h3 {
      margin-top: 2rem;
      color: var(--blue);
    }
  
    p {
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      font-weight: 500;
    }
  
    .about-text {
      margin-left: 3rem;
      background-color: #14191e59;
      backdrop-filter: blur(3px);
      padding: 2rem;
      border-radius: 1rem;
    }
  
    .about-image {
      text-align: center;
  
      img {
        margin-top: 2rem;
        width: 75%;
        filter: grayscale(0);
        transition: filter 0.5s;
  
        &:hover {
          filter: grayscale(0);
        }
      }
    }

    .animation-delay {
      animation-delay: 500ms;
    }

    .animation-delay-icon {
        animation-delay: 1000ms;
      }
  
    @media only screen and (width <= 480px) {
      .about-image {
        max-width: 100%;
        margin-top: 4rem;
  
        img {
          margin-top: 2rem;
          width: 100%;
          filter: grayscale(0);
          transition: filter 0.5s;
  
          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  
    @media (width <= 960px) {
      display: block;
      text-align: center;
  
      .hard-skills {
        justify-content: center;
      }
  
      .about-image {
        display: flex;
        max-width: 100%;
  
        img {
          margin-top: 2rem;
          width: 100%;
          filter: grayscale(0);
          transition: filter 0.5s;
  
          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }