.about-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  
  .hard-skills {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    margin-top: 1.6rem;
  }
  
  .icon {
    align-items: center;
    display: flex;
    flex-direction: column;
  
    img {
      width: 3.4rem;
    }
  }
  
  h2 {
    color: var(--blue);
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  
  h3 {
    color: var(--blue);
    margin-top: 2rem;
  }
  
  p {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  
  .about-text {
    backdrop-filter: blur(3px);
    background-color: #14191e59;
    border-radius: 1rem;
    margin-left: 3rem;
    padding: 2rem;
  }
  
  .about-image {
    text-align: center;
  
    img {
      filter: grayscale(0);
      margin-top: 2rem;
      transition: filter 0.5s;
      width: 75%;
  
      &:hover {
        filter: grayscale(0);
      }
    }
  }

  .animation-delay {
    animation-delay: 500ms;
  }

  .animation-delay-icon {
    animation-delay: 1000ms;
  }
  
  @media only screen and (width <= 480px) {
    .about-image {
      margin-top: 4rem;
      max-width: 100%;
  
      img {
        filter: grayscale(0);
        margin-top: 2rem;
        transition: filter 0.5s;
        width: 100%;
  
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
  
  @media (width <= 960px) {
    display: block;
    text-align: center;
  
    .hard-skills {
      justify-content: center;
    }
  
    .about-image {
      display: flex;
      max-width: 100%;
  
      img {
        filter: grayscale(0);
        margin-top: 2rem;
        transition: filter 0.5s;
        width: 100%;
  
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}