.hero-image {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 15vh;

  svg {
    max-width: 500px;
    width: 100%;
  }

  @media (width <= 960px) {
    margin-top: 0;
    max-width: 400px;

    svg {
      max-width: 350px;
    }
  }

  @media (width <= 640px) {
    max-width: 300px;

    svg {
      max-width: 280px;
    }
  }

  @media (width <= 480px) {
    max-width: 250px;

    svg {
      max-width: 220px;
    }
  }
}
