.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 5rem;

    svg {
        max-width: 500px;
    }
    
    @media (width <= 960px) {
        margin-top: 15%;
    }

    @media (width <= 600px) {
        margin-top: 35%;
    }

    @media (width <= 480px) {
        margin-top: 45%;
    }
  }
