.header-section {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: #14191e59;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1.8rem 10rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  .container-toggle {
    cursor: pointer;
  }
  
  nav {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 1.8rem;

    a {
      color: #FFF;
      font-family: 'Red Hat Display', sans-serif;
      font-weight: 500;
      padding: 0.6rem;
      text-transform: uppercase;
      transition: filter 0.25s;
  
      &.button {
        padding: 0.6rem 2rem;
      }
  
      &:hover {
        filter: brightness(0.6);
      }
    }

  

    .resume-btn {
      background-color: var(--dark-blue);
      border-radius: 5px;
      color: #FFF;
      padding: 0.6rem 2rem;
      text-decoration: none;
    }
  }
  

  input[type="checkbox"] {
    height: 0;
    outline: none;
    visibility: hidden;
    width: 0;
  }
  
  label {
    background: var(--dark-blue);
    border-radius: 20px;
    display: block;
    height: 30px;
    margin-left: 5rem;
    margin-right: auto;
    position: relative;
    right: 10px;
    text-indent: -9999px;
    width: 55px;
  
    &::after {
      background: #FFF;
      border-radius: 50%;
      content: '';
      height: 20px;
      left: 4px;
      position: absolute;
      top: 5px;
      transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
      width: 20px;
    }
  }
  
  input:checked + label {
    background: var(--purple);
  
    &::after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }
  
  @media (width <= 960px) {
    padding: 1.8rem 3rem;

  
    nav {
      align-items: center;
      background: var(--dark-blue);
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      left: 0;
      opacity: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      transition: opacity 0.25s;
      visibility: hidden;
      width: 100vw;
  
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  @media (width <= 800px) {
    label {
      position: relative;
    }
  }
}